#sidebar{
	min-width: 250px;
	max-width: 250px;
	transition: all 0.3s;
}
#sidebarCollapse{
    display: none;
}
@media (max-width: 768px) {
    #sidebar {
		min-width: 200px;
		max-width: 2000px;
        margin-left: -200px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse{
        display: inline-block;
    }
}